@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --background-primary: #020202;
    --background-secondary: #111012;
        --background-tertiary: #24222E;
        --background-brand: #C58DE7;
        --content-primary: #FFF;
        --content-secondary: #B3B3B3;
        --content-tertiary: #7A7A7A;
        --content-brand: #C58DE7;
        --acent-pink: #D586E0;
        --acent-blue: #91A1FA;
        --font-primary: 'Sora', sans-serif;
        --font-secundary: 'Roboto Flex', sans-serif;
        --font-tertiary: 'Roboto Mono', monospace;
    --degrade-borda: linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
        --degrade-fundo: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-primary);
        background-image: url(assets/Shapes.png);
}

.corpo {
    color: var(--content-primary);
    background-image: url(assets/Linha.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.secao-principal {
    box-sizing: border-box;
    display: flex;
        flex-direction: column;
        gap: 5px;
}

.secao-principal__h1 {
    color: var(--content-primary);
    font-family: var(--font-primary);
    font-size: 72px;
    font-weight: 800;
}

.secao-principal__h2 {
    color: var(--acent-pink);
    font-family: var(--font-secundary);
    margin-bottom: auto;
    margin-top: auto;
}

.secao-principal__h3 {
    color: var(--content-primary);
    font-family: var(--font-tertiary);
    font-size: 20px;
    text-align: justify;
}
.secao-sorteio {
    margin-right: 0%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.secao-sorteio__form {
    display: flex;
    flex-direction: column;
    width: 793.13px;
        gap: 15px;
    justify-content: center;
    align-items: center;
    flex: 1;
        box-sizing: border-box;
}

.secao-sorteio__input {
    font-size: 30px;
    font-family: var(--font-secundary);
    height: 50px;
        width: 480px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.secao-sorteio__h2 {
    color: var(--content-primary);
    font-family: var(--font-primary);
    font-size: 72px;
    font-weight: 650px;
    text-align: center;
}

.secao-sorteio__h3 {
    color: var(--content-primary);
    font-family: var(--font-tertiary);
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.secao-sorteio__button {
    background: var(--degrade-fundo);
    color: var(--content-primary);
    font-size: 30px;
    font-family: var(--font-secundary);
    height: 56px;
    width: 240px;
    border-radius: 8px;
    cursor: pointer;
}

.secao-sorteio__button:hover {
    background: var(--degrade-borda);
}
.secao-sorteio__lista {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    gap: 10px;
    width: 500px;
        height: 75px;
}

#nome-participante {
    background-color: var(--content-primary);
        color: var(--background-secondary);
        font-size: 25px;
    padding: 10px;
    border-radius: 8px;
    border-color: #D586E0;
    border: 2px solid;
    height: 75px;
        width: 500px;
        overflow-y: auto;
}

.secao-sorteado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.secao-sorteado__div {
    display: flex;
    gap: 10px;
    font-size: 25px;
}

.secao-sorteado__h3 {
    color: var(--content-primary);
    font-family: var(--font-tertiary);
    font-size: 20px;
    text-align: center;
}

.secao-sorteado__checkbox {
    width: 25px;

}
.secao-sorteado__button {
    background: var(--degrade-fundo);
    color: var(--content-primary);
    font-size: 30px;
    font-family: var(--font-secundary);
    height: 56px;
    width: 482px;
    border-radius: 8px;
    border-color: #D586E0;
    margin: 10px;
    cursor: pointer;
    }
    
    .secao-sorteado__button:hover {
        background: var(--degrade-borda);
}

.secao-sorteado__h3 {
    color: var(--content-primary);
    font-family: var(--font-tertiary);
    font-size: 20px;
    text-align: justify;
}

#nomeSorteado {
    text-align: center;
    font-size: 65px;
    border-color: #D586E0;
    height: 75px;
    width: 500px;
}