@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --background-primary: #020202;
        --background-secondary: #111012;
        --background-tertiary: #24222E;
        --background-brand: #C58DE7;
        --content-primary: #FFF;
        --content-secondary: #B3B3B3;
        --content-tertiary: #7A7A7A;
        --content-brand: #C58DE7;
        --acent-pink: #D586E0;
        --acent-blue: #91A1FA;
        --font-primary: 'Sora', sans-serif;
        --font-secundary: 'Roboto Flex', sans-serif;
        --font-tertiary: 'Roboto Mono', monospace;
}

.cabecalho {
    height: 300px;
}

.corpo {
    background-color: var(--background-tertiary);
    color: var(--content-primary);
    background-image: url(assets/Linha.png);
    display: flex;
    align-items: center;
        justify-content: center;
    flex-direction: column;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
        padding: 50px;
}

.secao-principal {
    flex: 1;
    /* Ocupa espaço igual dentro do flex container */
    max-width: 45%;
    /* Garante que não ultrapasse a metade */
    min-width: 45%;
    /* Evita compressão excessiva */
    box-sizing: border-box;
    /* Evita que padding/margem aumentem o tamanho */
}

.secao-principal__h1 {
    color: var(--content-primary);
    font-family: var(--font-primary);
    font-size: 72px;
    font-weight: 800;
}

.secao-principal__h2 {
    color: var(--acent-pink);
    font-family: var(--font-secundary);
    margin-bottom: auto;
    margin-top: auto;
}

.secao-principal__h3 {
    color: var(--content-primary);
    font-family: var(--font-tertiary);
    font-size: 20px;
    text-align: justify;
}
.secao-sorteio__form {
    display: flex;
    flex-direction: column;
        width: 840px;
        gap: 15px;
    justify-content: center;
    align-items: center;
        flex: 1;
        box-sizing: border-box;
}

.secao-sorteio__input {
    font-size: 30px;
    font-family: var(--font-secundary);
    height: 56px;
    width: 482px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
        box-sizing: border-box;
}

.secao-sorteio__h2 {
    color: var(--content-primary);
    font-family: var(--font-primary);
    font-size: 72px;
    font-weight: 650px;
    text-align: center;
}

.secao-sorteio__h3 {
    color: var(--content-primary);
    font-family: var(--font-tertiary);
    font-size: 20px;
    text-align: center;
}

.secao-sorteio__button {
    background-color: var(--background-tertiary);
    color: var(--content-primary);
    font-size: 30px;
    font-family: var(--font-secundary);
    height: 56px;
    width: 482px;
    border-radius: 8px;
    border-color: #D586E0;
}

.secao-sorteio__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
    word-break: break-word;
}

#nome-participante {
    font-size: 40px;
    margin: 2px;
    padding: 10px;
    border-radius: 8px;
    border-color: #D586E0;
    border: 2px solid;
}

.name-list {
}

.secao-sorteado {
    display: flex;
    flex-direction: column;
        justify-content: center;
    align-items: center;
    gap: 10%;
}

.secao-sorteado__button {
    background-color: var(--background-tertiary);
    color: var(--content-primary);
    font-size: 30px;
    font-family: var(--font-secundary);
    height: 56px;
    width: 482px;
    border-radius: 8px;
    border-color: #D586E0;
    margin: 10px;
}

.secao-sorteado__h3 {
    color: var(--content-primary);
    font-family: var(--font-tertiary);
    font-size: 20px;
    text-align: justify;
    max-width: 100%;
}